# SPDX-License-Identifier: GPL-2.0-only
#
# Analog Devices network device configuration
#

config NET_VENDOR_ADI
	bool "Analog Devices devices"
	default y
	depends on SPI
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Analog Devices devices. If you say Y, you will
	  be asked for your specific card in the following questions.

if NET_VENDOR_ADI

config ADIN2111
	tristate "Analog Devices ADIN2111 MAC-PHY"
	depends on SPI
	select REGMAP_SPI
	select PHYLIB
	help
	  Say Y here if you want to use the Analog Devices ADIN2111
	  dual port industrial Ethernet switch with integrated PHY.

	  This driver supports both switch mode (two separate network
	  interfaces) and dual MAC mode (single network interface).

	  To compile this driver as a module, choose M here: the module
	  will be called adin2111.

endif # NET_VENDOR_ADI
