/dts-v1/;

/ {
    compatible = "linux,dummy-virt";
    #address-cells = <2>;
    #size-cells = <1>;
    model = "QEMU ADIN2111 Dual-Port Test Machine";

    chosen {
        bootargs = "console=ttyAMA0 root=/dev/ram0 rw init=/sbin/init earlycon";
        stdout-path = &uart0;
    };

    memory@40000000 {
        device_type = "memory";
        reg = <0x0 0x40000000 0x20000000>;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
            device_type = "cpu";
            compatible = "arm,cortex-a15";
            reg = <0>;
        };
    };

    timer {
        compatible = "arm,armv7-timer";
        interrupts = <1 13 0xf08>,
                     <1 14 0xf08>,
                     <1 11 0xf08>,
                     <1 10 0xf08>;
        clock-frequency = <100000000>;
    };

    soc {
        #address-cells = <2>;
        #size-cells = <1>;
        compatible = "simple-bus";
        ranges;

        gic: interrupt-controller@8000000 {
            compatible = "arm,cortex-a15-gic";
            #interrupt-cells = <3>;
            #address-cells = <0>;
            interrupt-controller;
            reg = <0x0 0x08000000 0x10000>,
                  <0x0 0x08010000 0x10000>;
        };

        uart0: uart@9000000 {
            compatible = "arm,pl011", "arm,primecell";
            reg = <0x0 0x09000000 0x1000>;
            interrupts = <0 1 4>;
            clocks = <&pclk>, <&pclk>;
            clock-names = "uartclk", "apb_pclk";
        };

        spi0: spi@9060000 {
            compatible = "arm,pl022", "arm,primecell";
            reg = <0x0 0x09060000 0x1000>;
            interrupts = <0 10 4>;
            clocks = <&pclk>;
            clock-names = "apb_pclk";
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            adin2111_0: ethernet@0 {
                compatible = "adi,adin2111";
                reg = <0>;
                spi-max-frequency = <25000000>;
                spi-cpha;
                spi-cpol;
                
                interrupt-parent = <&gic>;
                interrupts = <0 48 4>;
                
                /* Reset GPIO for first device */
                reset-gpios = <&gpio 0 1>;
                
                /* Main device MAC address */
                mac-address = [52 54 00 12 34 55];
                
                /* Port configuration for first ADIN2111 */
                ethernet-ports {
                    #address-cells = <1>;
                    #size-cells = <0>;
                    
                    port@0 {
                        reg = <0>;
                        label = "lan0";
                        phy-mode = "rmii";
                        phy-handle = <&phy0_0>;
                        local-mac-address = [52 54 00 12 34 56];
                    };
                    
                    port@1 {
                        reg = <1>;
                        label = "lan1";
                        phy-mode = "rmii";
                        phy-handle = <&phy0_1>;
                        local-mac-address = [52 54 00 12 34 57];
                    };
                };
                
                /* PHY definitions for first device */
                mdio {
                    #address-cells = <1>;
                    #size-cells = <0>;
                    
                    phy0_0: ethernet-phy@0 {
                        reg = <0>;
                        compatible = "ethernet-phy-ieee802.3-c22";
                        max-speed = <100>;
                    };
                    
                    phy0_1: ethernet-phy@1 {
                        reg = <1>;
                        compatible = "ethernet-phy-ieee802.3-c22";
                        max-speed = <100>;
                    };
                };
            };

            adin2111_1: ethernet@1 {
                compatible = "adi,adin2111";
                reg = <1>;
                spi-max-frequency = <25000000>;
                spi-cpha;
                spi-cpol;
                
                interrupt-parent = <&gic>;
                interrupts = <0 49 4>;
                
                /* Reset GPIO for second device */
                reset-gpios = <&gpio 1 1>;
                
                /* Main device MAC address */
                mac-address = [52 54 00 12 34 5A];
                
                /* Port configuration for second ADIN2111 */
                ethernet-ports {
                    #address-cells = <1>;
                    #size-cells = <0>;
                    
                    port@0 {
                        reg = <0>;
                        label = "lan2";
                        phy-mode = "rmii";
                        phy-handle = <&phy1_0>;
                        local-mac-address = [52 54 00 12 34 5B];
                    };
                    
                    port@1 {
                        reg = <1>;
                        label = "lan3";
                        phy-mode = "rmii";
                        phy-handle = <&phy1_1>;
                        local-mac-address = [52 54 00 12 34 59];
                    };
                };
                
                /* PHY definitions for second device */
                mdio {
                    #address-cells = <1>;
                    #size-cells = <0>;
                    
                    phy1_0: ethernet-phy@0 {
                        reg = <0>;
                        compatible = "ethernet-phy-ieee802.3-c22";
                        max-speed = <100>;
                    };
                    
                    phy1_1: ethernet-phy@1 {
                        reg = <1>;
                        compatible = "ethernet-phy-ieee802.3-c22";
                        max-speed = <100>;
                    };
                };
            };
        };

        /* Second SPI controller for testing multiple devices */
        spi1: spi@9070000 {
            compatible = "arm,pl022", "arm,primecell";
            reg = <0x0 0x09070000 0x1000>;
            interrupts = <0 11 4>;
            clocks = <&pclk>;
            clock-names = "apb_pclk";
            #address-cells = <1>;
            #size-cells = <0>;
            status = "disabled"; /* Disabled by default, can be enabled for advanced testing */
        };

        gpio: gpio@9030000 {
            compatible = "arm,pl061", "arm,primecell";
            reg = <0x0 0x09030000 0x1000>;
            interrupts = <0 7 4>;
            clocks = <&pclk>;
            clock-names = "apb_pclk";
            gpio-controller;
            #gpio-cells = <2>;
            interrupt-controller;
            #interrupt-cells = <2>;
        };
    };

    clocks {
        pclk: pclk {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <24000000>;
            clock-output-names = "clk24mhz";
        };
    };

    aliases {
        serial0 = &uart0;
        ethernet0 = &adin2111_0;
        ethernet1 = &adin2111_1;
        spi0 = &spi0;
        spi1 = &spi1;
    };
};